body {
    /* height: 100%; */
}

.wrapper {
    height:auto;
	min-height: 100%;
	padding-bottom: 56px;
}

footer {

    height:56px; 
    position: relative;
    transform: translateY(50vh);
}
.second-article {
    margin: 0% 12%;
    padding: 3%;
    height: 50vw;
    /* border: 1px solid black; */
}

.main-img-center {
    width: 100vw;
    height: 50vw;
    /* background-color: lightgrey; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content {
    width: 100%;
    height: 80%;
    object-fit: scale-down;
}

.arwork-title {
    font-size: 3.5rem;
    font-weight: bolder;

}

.arwork-date {
    font-size: 2rem;
}
.icon-link {
    color: inherit;
    text-decoration: none;
}

.fa-heart {
    font-size: 1.2rem;
}

.second-article-info-text {
    font-size: 1.2rem;
}

@media screen  and (max-width :768px){

    
    .arwork-title {
        font-size: 1.3rem;
        font-weight: bolder;
    
    }
    
    .arwork-date {
        font-size: 1rem;
    }
    .icon-link {
        color: inherit;
        text-decoration: none;
    }
    
    .fa-heart {
        font-size: 1rem;
    }
    
    .second-article-info-text {
        font-size: 0.8rem;
    }

}