h1 {
    font-weight: bolder;
    color:rgb(0, 162, 255)
}

.accordion-button {
    background-color: #6c757d; 
    color: #ffffff;
}

.accordion-button:not(.collapsed) {
    background-color: #343a40;
    color: #ffffff;
    border-color: #343a40;
}

.accordion-button:focus {
    box-shadow: none;
}
/* ------------------------------------------------------------------------ */

.story-list > li{
    display : inline-block;
    padding-right: 1.5em;
}
.story-list {
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth; 
    width: calc(100% - 5em); 
    margin: 0 auto;
    padding: 0;
}

.area_card {
    height: 350px;
    width: 290px;
}

.story-card-image {
    object-fit :cover;
    height: 220px;
    width: 288px;
    border-radius: 4%;
}


/* ---- */

.title_box {
    height: 130px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    overflow: hidden;

}

.atag_text {
    text-decoration: none;

}

.titleBox-content { 
    width: 290px;
    font-size: 20px;
    font-weight: bolder;
    word-wrap: break-all; 
    white-space: normal; 
}
.titleBox-content-sub-text {

    color: grey;
    font-size: 15px;
    font-weight: normal;
    width: 100%; 
    word-wrap: break-all; 
    overflow: hidden; 
    white-space: normal; 
}


/* ---- */

.carousel-container {
    position: relative;
    width: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    color:#343a40;
    border: none;
    padding: 1em;
    cursor: pointer;
    z-index: 1;
}

#carousel-prev {
    left: 0;
}

#carousel-next {
    right: 0;
}

/* ------------------------------------------------------------------------ */
.shadow-sm {
    display: flex;
}

.article-img {
    width : 100%;
    height: 300px;
    background-color: #343a40;
    position: relative;
    padding: auto;
    color: inherit;
    text-decoration: none;
}

.card-body {
    height: 100%;
    word-wrap: break-all; 
    overflow: hidden; 
    white-space: normal; 
    position: absolute;
    display: flex;
    flex-direction: column;
}

.card-text {
    height: 1em;
}

.article-img:hover {
    color: #ffffff;
}

